# Analytic center computation

# The set-up

In [123]:
import numpy as np
import pandas as pd
import accpm
import accpm
from IPython.display import display

$\DeclareMathOperator{\domain}{dom}
\newcommand{\transpose}{\text{T}}
\newcommand{\vec}[1]{\begin{pmatrix}#1\end{pmatrix}}$

# Summary of results

From the testing undertaken here we can conclude that parameter values $\texttt{alpha = 0.01}$ and $\texttt{beta = 0.99}$ yield acceptable results for squares not too large or too small.

# Theory

To test the $\texttt{analytic_center}$ function we consider the following example. Suppose we want to find the analytic center $x_{ac} \in \mathbb{R}^2$ of the inequalities $x_1 \leq c_1, x_1 \geq 0, x_2 \leq c_2, x_2 \geq 0$. This is a rectange with dimensions $c_1 \times c_2$ centered at at $(\frac{c_1}{2}, \frac{c_2}{2})$ so we should have $x_{ac} = (\frac{c_1}{2}, \frac{c_2}{2})$. Now, $x_{ac}$ is the solution of the minimization problem 
\begin{equation*}
    \min_{\domain \phi} \phi(x) = - \sum_{i=1}^{4}{\log{(b_i - a_i^\transpose x)}}
\end{equation*}
where 
\begin{equation*}
    \domain \phi = \{x \;|\; a_i^\transpose x < b_i, i = 1, 2, 3, 4\}
\end{equation*}
with
\begin{align*}
    &a_1 = \begin{bmatrix}1\\0\end{bmatrix}, &&b_1 = c_1, \\
    &a_2 = \begin{bmatrix}-1\\0\end{bmatrix}, &&b_2 = 0, \\
    &a_3 = \begin{bmatrix}0\\1\end{bmatrix}, &&b_3 = c_2, \\
    &a_4 = \begin{bmatrix}0\\-1\end{bmatrix}, &&b_4 = 0. 
\end{align*}
So we solve
\begin{align*}
    &\phantom{iff}\nabla \phi(x) = \sum_{i=1}^{4
    } \frac{1}{b_i - a_i^\transpose x}a_i = 0 \\
    &\iff \frac{1}{c_1-x_1}\begin{bmatrix}1\\0\end{bmatrix} + \frac{1}{x_1}\begin{bmatrix}-1\\0\end{bmatrix} + \frac{1}{c_2-x_2}\begin{bmatrix}0\\1\end{bmatrix} + \frac{1}{x_2}\begin{bmatrix}0\\-1\end{bmatrix} = 0 \\
    &\iff \frac{1}{c_1-x_1} - \frac{1}{x_1} = 0, \frac{1}{c_2-x_2} - \frac{1}{x_2} = 0 \\
    &\iff x_1 = \frac{c_1}{2}, x_2 = \frac{c_2}{2},
\end{align*}
as expected.

# Testing

We test $\texttt{analytic_center}$ for varying values of $c_1, c_2$ and algorithm parameters $\texttt{alpha, beta}$:

In [124]:
def get_results(A, test_input, alpha, beta, tol=10e-8):
    expected = []
    actual = []
    result = []
    for (c1, c2) in test_input:
        b = np.array([c1, 0, c2, 0])
        ac_expected = np.asarray((c1/2, c2/2))
        ac_actual = accpm.analytic_center(A, b, alpha = alpha, beta = beta)
        expected.append(ac_expected)
        actual.append(ac_actual)
        # if np.array_equal(ac_expected, ac_actual):
        if np.linalg.norm(ac_expected - ac_actual) <= tol: 
            result.append(True)
        else:
            result.append(False)
    results = pd.DataFrame([test_input, expected, actual, result])
    results = results.transpose()
    results.columns = ['test_input', 'expected', 'actual', 'result']
    print('alpha =', alpha, 'beta =', beta)
    display(results)

Here we have results for squares of varying sizes with $\texttt{alpha = 0.01}$ and $\texttt{beta = 0.99}$.

In [125]:
alpha = 0.01
beta = 0.99
A = np.array([[1, 0],[-1,0],[0,1],[0,-1]])
test_input = [(1, 1), (5, 5), (20, 20), (10e2, 10e2), (10e4, 10e4),
              (10e6, 10e6), (10e8, 10e8), (10e10, 10e10),  
              (0.5, 0.5), (0.1, 0.1), (0.01, 0.01), 
              (0.008, 0.008), (0.006, 0.006), (0.004, 0.004), 
              (0.003, 0.003), (0.002, 0.002), (0.001, 0.001),
              (0.0008, 0.0008), (0.0007, 0.0007), (0.0006, 0.0006),
              (0.0005, 0.0005), (0.0004, 0.0004), (0.0003, 0.0003)]

We see that the algorithm performs quite well with these parameter values given that the size of the square is not too large, above a size of roughly $10^7 \times 10^7$, or too small, below a size of roughly $0.0004 \times 0.0004$.

In [126]:
get_results(A, test_input, alpha, beta)

alpha = 0.01 beta = 0.99

,test_input,expected,actual,result
0,"(1, 1)","[0.5, 0.5]","[0.5, 0.5]",True
1,"(5, 5)","[2.5, 2.5]","[2.5, 2.5]",True
2,"(20, 20)","[10.0, 10.0]","[10.0, 10.0]",True
3,"(1000.0, 1000.0)","[500.0, 500.0]","[499.999999999, 499.999999999]",True
4,"(100000.0, 100000.0)","[50000.0, 50000.0]","[50000.0, 50000.0]",True
5,"(10000000.0, 10000000.0)","[5000000.0, 5000000.0]","[4999999.99063, 4999999.99063]",False
6,"(1000000000.0, 1000000000.0)","[500000000.0, 500000000.0]","[485730187.136, 485730187.136]",False
7,"(100000000000.0, 100000000000.0)","[50000000000.0, 50000000000.0]","[2072171021.4, 2072171021.4]",False
8,"(0.5, 0.5)","[0.25, 0.25]","[0.25, 0.25]",True
9,"(0.1, 0.1)","[0.05, 0.05]","[0.05, 0.05]",True
10,"(0.01, 0.01)","[0.005, 0.005]","[0.005, 0.005]",True
11,"(0.008, 0.008)","[0.004, 0.004]","[0.004, 0.004]",True
12,"(0.006, 0.006)","[0.003, 0.003]","[0.003, 0.003]",True
13,"(0.004, 0.004)","[0.002, 0.002]","[0.002, 0.002]",True
14,"(0.003, 0.003)","[0.0015, 0.0015]","[0.0015, 0.0015]",True
15,"(0.002, 0.002)","[0.001, 0.001]","[0.001, 0.001]",True
16,"(0.001, 0.001)","[0.0005, 0.0005]","[0.0005, 0.0005]",True
17,"(0.0008, 0.0008)","[0.0004, 0.0004]","[0.0004, 0.0004]",True
18,"(0.0007, 0.0007)","[0.00035, 0.00035]","[0.00035, 0.00035]",True
19,"(0.0006, 0.0006)","[0.0003, 0.0003]","[0.0003, 0.0003]",True
20,"(0.0005, 0.0005)","[0.00025, 0.00025]","[0.00025, 0.00025]",True
21,"(0.0004, 0.0004)","[0.0002, 0.0002]","[0.0002, 0.0002]",True
22,"(0.0003, 0.0003)","[0.00015, 0.00015]","[-536870912.0, -536870912.0]",False

Here we have results for squares of varying sizes with $\texttt{alpha = 0.01}$ and $\texttt{beta = 0.7}$ and then varying values for $\texttt{alpha}$ in the interval $(0, 0.5)$.

In [127]:
alpha = 0.01
beta = 0.7

For $\texttt{alpha = 0.01}$ and $\texttt{beta = 0.7}$ the algorithm performs slightly worse on larger squares but significantly worse on smaller squares, with results for squares smaller than $0.01 \times 0.01$ being unacceptable. Moreover, adjusting $\texttt{alpha}$ to be smaller or larger does not seem to yield much improvement/

In [128]:
get_results(A, test_input, alpha, beta)

alpha = 0.01 beta = 0.7

,test_input,expected,actual,result
0,"(1, 1)","[0.5, 0.5]","[0.5, 0.5]",True
1,"(5, 5)","[2.5, 2.5]","[2.5, 2.5]",True
2,"(20, 20)","[10.0, 10.0]","[10.0, 10.0]",True
3,"(1000.0, 1000.0)","[500.0, 500.0]","[499.999999999, 499.999999999]",True
4,"(100000.0, 100000.0)","[50000.0, 50000.0]","[50000.0, 50000.0]",True
5,"(10000000.0, 10000000.0)","[5000000.0, 5000000.0]","[4999999.99063, 4999999.99063]",False
6,"(1000000000.0, 1000000000.0)","[500000000.0, 500000000.0]","[466684322.534, 466684322.534]",False
7,"(100000000000.0, 100000000000.0)","[50000000000.0, 50000000000.0]","[2601754358.0, 2601754358.0]",False
8,"(0.5, 0.5)","[0.25, 0.25]","[0.25, 0.25]",True
9,"(0.1, 0.1)","[0.05, 0.05]","[0.05, 0.05]",True
10,"(0.01, 0.01)","[0.005, 0.005]","[0.005, 0.005]",True
11,"(0.008, 0.008)","[0.004, 0.004]","[-268435456.0, -268435456.0]",False
12,"(0.006, 0.006)","[0.003, 0.003]","[-268435456.0, -268435456.0]",False
13,"(0.004, 0.004)","[0.002, 0.002]","[-536870911.965, -536870911.965]",False
14,"(0.003, 0.003)","[0.0015, 0.0015]","[-268435455.992, -268435455.992]",False
15,"(0.002, 0.002)","[0.001, 0.001]","[-268435456.0, -268435456.0]",False
16,"(0.001, 0.001)","[0.0005, 0.0005]","[-134217728.0, -134217728.0]",False
17,"(0.0008, 0.0008)","[0.0004, 0.0004]","[-1041765269.99, -1041765269.99]",False
18,"(0.0007, 0.0007)","[0.00035, 0.00035]","[-4616280238.05, -4616280238.05]",False
19,"(0.0006, 0.0006)","[0.0003, 0.0003]","[-268435456.0, -268435456.0]",False
20,"(0.0005, 0.0005)","[0.00025, 0.00025]","[-268435455.994, -268435455.994]",False
21,"(0.0004, 0.0004)","[0.0002, 0.0002]","[-536870911.956, -536870911.956]",False
22,"(0.0003, 0.0003)","[0.00015, 0.00015]","[-536870904.272, -536870904.272]",False

In [129]:
alpha = 0.0001

In [130]:
get_results(A, test_input, alpha, beta)

alpha = 0.0001 beta = 0.7

,test_input,expected,actual,result
0,"(1, 1)","[0.5, 0.5]","[0.5, 0.5]",True
1,"(5, 5)","[2.5, 2.5]","[2.5, 2.5]",True
2,"(20, 20)","[10.0, 10.0]","[10.0, 10.0]",True
3,"(1000.0, 1000.0)","[500.0, 500.0]","[499.999999999, 499.999999999]",True
4,"(100000.0, 100000.0)","[50000.0, 50000.0]","[50000.0, 50000.0]",True
5,"(10000000.0, 10000000.0)","[5000000.0, 5000000.0]","[4999999.99063, 4999999.99063]",False
6,"(1000000000.0, 1000000000.0)","[500000000.0, 500000000.0]","[466684322.534, 466684322.534]",False
7,"(100000000000.0, 100000000000.0)","[50000000000.0, 50000000000.0]","[2601754358.0, 2601754358.0]",False
8,"(0.5, 0.5)","[0.25, 0.25]","[0.25, 0.25]",True
9,"(0.1, 0.1)","[0.05, 0.05]","[0.05, 0.05]",True
10,"(0.01, 0.01)","[0.005, 0.005]","[0.005, 0.005]",True
11,"(0.008, 0.008)","[0.004, 0.004]","[-268435456.0, -268435456.0]",False
12,"(0.006, 0.006)","[0.003, 0.003]","[-268435456.0, -268435456.0]",False
13,"(0.004, 0.004)","[0.002, 0.002]","[-536870911.965, -536870911.965]",False
14,"(0.003, 0.003)","[0.0015, 0.0015]","[-268435455.992, -268435455.992]",False
15,"(0.002, 0.002)","[0.001, 0.001]","[-268435456.0, -268435456.0]",False
16,"(0.001, 0.001)","[0.0005, 0.0005]","[-134217728.0, -134217728.0]",False
17,"(0.0008, 0.0008)","[0.0004, 0.0004]","[-1073741780.8, -1073741780.8]",False
18,"(0.0007, 0.0007)","[0.00035, 0.00035]","[-17179858944.6, -17179858944.6]",False
19,"(0.0006, 0.0006)","[0.0003, 0.0003]","[-268435456.0, -268435456.0]",False
20,"(0.0005, 0.0005)","[0.00025, 0.00025]","[-268435455.994, -268435455.994]",False
21,"(0.0004, 0.0004)","[0.0002, 0.0002]","[-536870911.956, -536870911.956]",False
22,"(0.0003, 0.0003)","[0.00015, 0.00015]","[-536870904.272, -536870904.272]",False

In [131]:
alpha = 0.1

In [132]:
get_results(A, test_input, alpha, beta)

alpha = 0.1 beta = 0.7

,test_input,expected,actual,result
0,"(1, 1)","[0.5, 0.5]","[0.5, 0.5]",True
1,"(5, 5)","[2.5, 2.5]","[2.5, 2.5]",True
2,"(20, 20)","[10.0, 10.0]","[10.0, 10.0]",True
3,"(1000.0, 1000.0)","[500.0, 500.0]","[499.999999999, 499.999999999]",True
4,"(100000.0, 100000.0)","[50000.0, 50000.0]","[50000.0, 50000.0]",True
5,"(10000000.0, 10000000.0)","[5000000.0, 5000000.0]","[4999999.99063, 4999999.99063]",False
6,"(1000000000.0, 1000000000.0)","[500000000.0, 500000000.0]","[466684322.534, 466684322.534]",False
7,"(100000000000.0, 100000000000.0)","[50000000000.0, 50000000000.0]","[2601754358.0, 2601754358.0]",False
8,"(0.5, 0.5)","[0.25, 0.25]","[0.25, 0.25]",True
9,"(0.1, 0.1)","[0.05, 0.05]","[0.05, 0.05]",True
10,"(0.01, 0.01)","[0.005, 0.005]","[0.005, 0.005]",True
11,"(0.008, 0.008)","[0.004, 0.004]","[0.004, 0.004]",True
12,"(0.006, 0.006)","[0.003, 0.003]","[0.003, 0.003]",True
13,"(0.004, 0.004)","[0.002, 0.002]","[0.002, 0.002]",True
14,"(0.003, 0.003)","[0.0015, 0.0015]","[0.0015, 0.0015]",True
15,"(0.002, 0.002)","[0.001, 0.001]","[-268435456.0, -268435456.0]",False
16,"(0.001, 0.001)","[0.0005, 0.0005]","[-134217728.0, -134217728.0]",False
17,"(0.0008, 0.0008)","[0.0004, 0.0004]","[-313347062.432, -313347062.432]",False
18,"(0.0007, 0.0007)","[0.00035, 0.00035]","[-1431985893.98, -1431985893.98]",False
19,"(0.0006, 0.0006)","[0.0003, 0.0003]","[-134217728.0, -134217728.0]",False
20,"(0.0005, 0.0005)","[0.00025, 0.00025]","[-268435455.994, -268435455.994]",False
21,"(0.0004, 0.0004)","[0.0002, 0.0002]","[-536870911.956, -536870911.956]",False
22,"(0.0003, 0.0003)","[0.00015, 0.00015]","[-435562156.025, -435562156.025]",False

In [133]:
alpha = 0.25

In [134]:
get_results(A, test_input, alpha, beta)

alpha = 0.25 beta = 0.7

,test_input,expected,actual,result
0,"(1, 1)","[0.5, 0.5]","[0.5, 0.5]",True
1,"(5, 5)","[2.5, 2.5]","[2.5, 2.5]",True
2,"(20, 20)","[10.0, 10.0]","[10.0, 10.0]",True
3,"(1000.0, 1000.0)","[500.0, 500.0]","[499.999999999, 499.999999999]",True
4,"(100000.0, 100000.0)","[50000.0, 50000.0]","[50000.0, 50000.0]",True
5,"(10000000.0, 10000000.0)","[5000000.0, 5000000.0]","[4999999.99063, 4999999.99063]",False
6,"(1000000000.0, 1000000000.0)","[500000000.0, 500000000.0]","[466684322.534, 466684322.534]",False
7,"(100000000000.0, 100000000000.0)","[50000000000.0, 50000000000.0]","[2601754358.0, 2601754358.0]",False
8,"(0.5, 0.5)","[0.25, 0.25]","[0.25, 0.25]",True
9,"(0.1, 0.1)","[0.05, 0.05]","[0.05, 0.05]",True
10,"(0.01, 0.01)","[0.005, 0.005]","[0.005, 0.005]",True
11,"(0.008, 0.008)","[0.004, 0.004]","[0.004, 0.004]",True
12,"(0.006, 0.006)","[0.003, 0.003]","[0.003, 0.003]",True
13,"(0.004, 0.004)","[0.002, 0.002]","[0.002, 0.002]",True
14,"(0.003, 0.003)","[0.0015, 0.0015]","[0.0015, 0.0015]",True
15,"(0.002, 0.002)","[0.001, 0.001]","[0.001, 0.001]",True
16,"(0.001, 0.001)","[0.0005, 0.0005]","[0.0005, 0.0005]",True
17,"(0.0008, 0.0008)","[0.0004, 0.0004]","[0.000389692817323, 0.000389692817323]",False
18,"(0.0007, 0.0007)","[0.00035, 0.00035]","[0.000256287249754, 0.000256287249754]",False
19,"(0.0006, 0.0006)","[0.0003, 0.0003]","[0.0003, 0.0003]",True
20,"(0.0005, 0.0005)","[0.00025, 0.00025]","[0.00025, 0.00025]",True
21,"(0.0004, 0.0004)","[0.0002, 0.0002]","[0.000141116005056, 0.000141116005056]",False
22,"(0.0003, 0.0003)","[0.00015, 0.00015]","[7.89624585768e-05, 7.89624585768e-05]",False

In [135]:
alpha = 0.4

In [136]:
get_results(A, test_input, alpha, beta)

alpha = 0.4 beta = 0.7

,test_input,expected,actual,result
0,"(1, 1)","[0.5, 0.5]","[0.5, 0.5]",True
1,"(5, 5)","[2.5, 2.5]","[2.5, 2.5]",True
2,"(20, 20)","[10.0, 10.0]","[10.0, 10.0]",True
3,"(1000.0, 1000.0)","[500.0, 500.0]","[499.999999999, 499.999999999]",True
4,"(100000.0, 100000.0)","[50000.0, 50000.0]","[50000.0, 50000.0]",True
5,"(10000000.0, 10000000.0)","[5000000.0, 5000000.0]","[4999999.99063, 4999999.99063]",False
6,"(1000000000.0, 1000000000.0)","[500000000.0, 500000000.0]","[466684322.534, 466684322.534]",False
7,"(100000000000.0, 100000000000.0)","[50000000000.0, 50000000000.0]","[2601285971.72, 2601285971.72]",False
8,"(0.5, 0.5)","[0.25, 0.25]","[0.25, 0.25]",True
9,"(0.1, 0.1)","[0.05, 0.05]","[0.05, 0.05]",True
10,"(0.01, 0.01)","[0.005, 0.005]","[0.005, 0.005]",True
11,"(0.008, 0.008)","[0.004, 0.004]","[0.004, 0.004]",True
12,"(0.006, 0.006)","[0.003, 0.003]","[0.003, 0.003]",True
13,"(0.004, 0.004)","[0.002, 0.002]","[0.002, 0.002]",True
14,"(0.003, 0.003)","[0.0015, 0.0015]","[0.0015, 0.0015]",True
15,"(0.002, 0.002)","[0.001, 0.001]","[0.001, 0.001]",True
16,"(0.001, 0.001)","[0.0005, 0.0005]","[0.000342537959387, 0.000342537959387]",False
17,"(0.0008, 0.0008)","[0.0004, 0.0004]","[0.000119149243425, 0.000119149243425]",False
18,"(0.0007, 0.0007)","[0.00035, 0.00035]","[8.17449027275e-05, 8.17449027275e-05]",False
19,"(0.0006, 0.0006)","[0.0003, 0.0003]","[0.000220213208979, 0.000220213208979]",False
20,"(0.0005, 0.0005)","[0.00025, 0.00025]","[0.000128611583065, 0.000128611583065]",False
21,"(0.0004, 0.0004)","[0.0002, 0.0002]","[4.62720834452e-05, 4.62720834452e-05]",False
22,"(0.0003, 0.0003)","[0.00015, 0.00015]","[-3.85331530841e-05, -3.85331530841e-05]",False

In [137]:
alpha = 0.45

In [138]:
get_results(A, test_input, alpha, beta)

alpha = 0.45 beta = 0.7

,test_input,expected,actual,result
0,"(1, 1)","[0.5, 0.5]","[0.5, 0.5]",True
1,"(5, 5)","[2.5, 2.5]","[2.5, 2.5]",True
2,"(20, 20)","[10.0, 10.0]","[10.0, 10.0]",True
3,"(1000.0, 1000.0)","[500.0, 500.0]","[499.999999999, 499.999999999]",True
4,"(100000.0, 100000.0)","[50000.0, 50000.0]","[50000.0, 50000.0]",True
5,"(10000000.0, 10000000.0)","[5000000.0, 5000000.0]","[4999999.99063, 4999999.99063]",False
6,"(1000000000.0, 1000000000.0)","[500000000.0, 500000000.0]","[466684322.534, 466684322.534]",False
7,"(100000000000.0, 100000000000.0)","[50000000000.0, 50000000000.0]","[2601285971.72, 2601285971.72]",False
8,"(0.5, 0.5)","[0.25, 0.25]","[0.25, 0.25]",True
9,"(0.1, 0.1)","[0.05, 0.05]","[0.05, 0.05]",True
10,"(0.01, 0.01)","[0.005, 0.005]","[0.005, 0.005]",True
11,"(0.008, 0.008)","[0.004, 0.004]","[0.004, 0.004]",True
12,"(0.006, 0.006)","[0.003, 0.003]","[0.003, 0.003]",True
13,"(0.004, 0.004)","[0.002, 0.002]","[0.002, 0.002]",True
14,"(0.003, 0.003)","[0.0015, 0.0015]","[0.0015, 0.0015]",True
15,"(0.002, 0.002)","[0.001, 0.001]","[0.000822233657599, 0.000822233657599]",False
16,"(0.001, 0.001)","[0.0005, 0.0005]","[0.000154220458697, 0.000154220458697]",False
17,"(0.0008, 0.0008)","[0.0004, 0.0004]","[8.32630845662e-05, 8.32630845662e-05]",False
18,"(0.0007, 0.0007)","[0.00035, 0.00035]","[3.90027152449e-07, 3.90027152449e-07]",False
19,"(0.0006, 0.0006)","[0.0003, 0.0003]","[-6.43158355524e-05, -6.43158355524e-05]",False
20,"(0.0005, 0.0005)","[0.00025, 0.00025]","[6.40834990669e-05, 6.40834990669e-05]",False
21,"(0.0004, 0.0004)","[0.0002, 0.0002]","[-2.02317752357e-05, -2.02317752357e-05]",False
22,"(0.0003, 0.0003)","[0.00015, 0.00015]","[-7.38338576096e-05, -7.38338576096e-05]",False

In [139]:
alpha = 0.49

In [140]:
get_results(A, test_input, alpha, beta)

alpha = 0.49 beta = 0.7

,test_input,expected,actual,result
0,"(1, 1)","[0.5, 0.5]","[0.5, 0.5]",True
1,"(5, 5)","[2.5, 2.5]","[2.5, 2.5]",True
2,"(20, 20)","[10.0, 10.0]","[10.0, 10.0]",True
3,"(1000.0, 1000.0)","[500.0, 500.0]","[499.999999999, 499.999999999]",True
4,"(100000.0, 100000.0)","[50000.0, 50000.0]","[50000.0, 50000.0]",True
5,"(10000000.0, 10000000.0)","[5000000.0, 5000000.0]","[4999999.99063, 4999999.99063]",False
6,"(1000000000.0, 1000000000.0)","[500000000.0, 500000000.0]","[466684322.534, 466684322.534]",False
7,"(100000000000.0, 100000000000.0)","[50000000000.0, 50000000000.0]","[2601285971.72, 2601285971.72]",False
8,"(0.5, 0.5)","[0.25, 0.25]","[0.25, 0.25]",True
9,"(0.1, 0.1)","[0.05, 0.05]","[0.05, 0.05]",True
10,"(0.01, 0.01)","[0.005, 0.005]","[0.005, 0.005]",True
11,"(0.008, 0.008)","[0.004, 0.004]","[0.004, 0.004]",True
12,"(0.006, 0.006)","[0.003, 0.003]","[0.003, 0.003]",True
13,"(0.004, 0.004)","[0.002, 0.002]","[0.00170585094084, 0.00170585094084]",False
14,"(0.003, 0.003)","[0.0015, 0.0015]","[0.0015, 0.0015]",True
15,"(0.002, 0.002)","[0.001, 0.001]","[0.00074135754159, 0.00074135754159]",False
16,"(0.001, 0.001)","[0.0005, 0.0005]","[6.60127396139e-05, 6.60127396139e-05]",False
17,"(0.0008, 0.0008)","[0.0004, 0.0004]","[-1.21335551142e-05, -1.21335551142e-05]",False
18,"(0.0007, 0.0007)","[0.00035, 0.00035]","[-7.76948139359e-05, -7.76948139359e-05]",False
19,"(0.0006, 0.0006)","[0.0003, 0.0003]","[-0.000107878500772, -0.000107878500772]",False
20,"(0.0005, 0.0005)","[0.00025, 0.00025]","[-1.48162874137e-05, -1.48162874137e-05]",False
21,"(0.0004, 0.0004)","[0.0002, 0.0002]","[-5.18149212626e-05, -5.18149212626e-05]",False
22,"(0.0003, 0.0003)","[0.00015, 0.00015]","[-0.000104779205669, -0.000104779205669]",False